
.forgot-password-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(90deg, #e2e2e2, #c0d6ff);
  font-family: 'Poppins', sans-serif;

  #root {
    width: 75%;
  }

  .container {
    position: relative;
    width: 100%;
    height: fit-content;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
  }
}